<meta charset="utf-8">

{% include seo.html %}

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="icon" href="{{ '/assets/icons/pku-emblem.png' | relative_url }}" type="image/png">
<link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">
<link rel="apple-touch-icon" href="{{ '/assets/icons/pku-emblem.png' | relative_url }}">
<meta property="og:image" content="{{ '/assets/profile/doggy.png' | absolute_url }}">
<meta name="theme-color" content="#8c1732">
<meta http-equiv="cleartype" content="on">
